extends ./layouts/layout

block thiscontent
  #main
    p
      a(href="#")
        button#pvc player vs computer
    p
      a(href="multilocal.html") 
        button#pvpl player vs player (local)
    p
      a(href="#")
        button#pvpo player vs player (online)
