extends ./layouts/layout

mixin menubutton(content)
  p
    button.btn.btn-default(type="button")= content

block thiscontent
  #main
  
    .btn-group-vertical(role="group")
      a(href="multilocal.html")
        +menubutton("human vs human (local)")
      +menubutton("human vs human (online)")
      +menubutton("human vs computer")
