doctype html
html
  head
    title whooooah nelly
    link(
      rel="stylesheet",
      type="text/css",
      href="css/main.css"
      )
  body
    h2 under construction
    p watch this space
    script(src="js/main.js")
