extends ./layouts/layout

block linkblock
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/game.css")
block scriptblock
  
block thiscontent
  #game
    #player1 Player 1!
    #player2 Player 2!
    #gameboard (game board)
