doctype html
html
  head
    block thishead
      title 3D Tic Tac Toe
      link(
        rel="stylesheet",
        type="text/css",
        href="css/main.css"
        )
  body
    include ../includes/header
    block thiscontent
    include ../includes/footer
    script(src="js/main.js")
