doctype html
html
  head
    title 3D Tic Tac Toe
    block linkblock
      link(rel="stylesheet", type="text/css", href="css/main.css")
      
  body
    include ../includes/header
    block thiscontent
    include ../includes/footer
    block scriptblock
      script(src="js/main.js")
